@import 'tailwindcss';

@theme {
  --color-neutral-primary: #1f2937;
  --color-neutral-secondary-soft: #374151;
  --color-neutral-tertiary: #4b5563;
  --color-border-default: #374151;
  --color-text-heading: #f9fafb;
  --color-text-body: #d1d5db;
  --color-brand: #e53e3e;
  --color-fg-brand: #fc8181;
  --radius-base: 0.375rem;
}

:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}
